#get_a_quote #button_style {
    background-color: var(--white);
    color: var(--black);
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}
#get_a_quote #button_style:hover {
    box-shadow: 1px 1px 8px var(--white);
}