#bradCrum {
    padding: 150px 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.6), #000000),url("../../../public/get-a-quote/get-a-quote.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#bradCrum h1 {
    font-size: 80px;
}
#get_a_quote #button_style {
    background-color: var(--white);
    color: var(--black);
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}
#get_a_quote #button_style:hover {
    box-shadow: 1px 1px 8px var(--white);
}