#first_section {
    background-image: linear-gradient(360deg, rgba(0,0,0,0.7), #000000),url("../../../public/our-projects/projects-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 120px;
}

#first_section h1 {
    font-size: 120px;
}
#first_section p {
    font-size: 20px;
}
#first_section #button_style {
    color: var(--white);
    background-color: var(--black);
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}
#first_section #button_style:hover {
    box-shadow: 1px 1px 8px var(--white);
}