:root {
  --black: #171717;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #0a0a0a;
    --white: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background: var(--black);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stara-sans);
}
p, small, label, li, button {
  font-family: var(--font-poppins) !important;
}

a, span {
  font-family: var(--font-poppins) !important;
}
input::placeholder {
  font-family: var(--font-poppins) !important;
}
select option {
  font-family: var(--font-poppins) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black); 
}


a {
  text-decoration: none;
}

.btn_icon {
  background-color: var(--white);
  color: var(--black);
  border-radius: 50%;
  padding: 6px 10px;
  margin-left: 10px;
  font-size: 18px;
}
.btn_white_icon {
  background-color: var(--black);
  color: var(--white);
  border-radius: 50%;
  padding: 6px 10px;
  margin-left: 10px;
  font-size: 18px;
}

.form-control:focus {
  box-shadow: none;
}

.dropdown-menu.show {
  position: static !important;
  border: none !important;
  margin-bottom: 40px !important;
  padding-top: 0 !important;
  margin-top: -30px !important;
}

.nav-tabs .nav-link {
  color: var(--white);
}
.nav-tabs .nav-link.active {
  border-radius: 60px;
  margin-bottom: 10px;
}
.nav-tabs .nav-link:hover {
  border-color: transparent;
}


#formPopup {
  /* background: #0a0a0a; */
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
}
#formPopupnone {
  display: none;
}
#formPopup #cross {
  font-size: 50px;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
}
#formPopup .popup_content {
  margin-top: 5%;
}
#formPopup .popup_content {
  background-color: var(--white);
  border-radius: 10px;
  padding: 15px;
  color: var(--black);
}
#formPopup .popup_content .btn {
  background-color: var(--black);
  color: var(--white);
}
#formPopup .popup_content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#formPopup .popup_content ul li {
  display: inline-block;
  margin-left: 20px;
}
#formPopup .popup_content ul li:first-child {
  margin-left: 0;
}