:root {
  --black: #171717;
  --white: #ffffff;
  --purple: #a73694;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #0a0a0a;
    --white: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background: var(--black);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stara-sans);
}
p, small, label, li, button {
  font-family: var(--font-poppins) !important;
}

a, span {
  font-family: var(--font-poppins) !important;
}
input::placeholder {
  font-family: var(--font-poppins) !important;
}
select option {
  font-family: var(--font-poppins) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black); 
}


a {
  text-decoration: none;
}

.btn_icon {
  background-color: var(--white);
  color: var(--black);
  border-radius: 50%;
  padding: 6px 10px;
  margin-left: 10px;
  font-size: 18px;
}
.btn_white_icon {
  background-color: var(--black);
  color: var(--white);
  border-radius: 50%;
  padding: 6px 10px;
  margin-left: 10px;
  font-size: 18px;
}

.accordion-button:focus {
  box-shadow: none;
}
.accordion-button {
  background-color: var(--black);
  color: var(--white);
}
.accordion-button:not(.collapsed) {
  color: var(--white);
  background-color: var(--black);
}
.accordion-body {
  background-color: var(--black);
  color: var(--white);
}

.form-control:focus {
  box-shadow: none;
}

.circle_img {
  width: 200px !important;
  height: 200px !important;
  opacity: .5;
  animation: circle_animate 7s infinite linear;
}

@keyframes circle_animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.dropdown-menu.show {
  position: static !important;
  border: none !important;
  margin-bottom: 40px !important;
  padding-top: 0 !important;
  margin-top: -30px !important;
}

.nav-tabs .nav-link {
  color: var(--white);
}
.nav-tabs .nav-link.active {
  border-radius: 60px;
  margin-bottom: 10px;
}
.nav-tabs .nav-link:hover {
  border-color: transparent;
}


#formPopup {
  /* background: #0a0a0a; */
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
}
#formPopupnone {
  display: none;
}
#formPopup #cross {
  font-size: 50px;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
}
#formPopup .popup_content {
  margin-top: 5%;
}
#formPopup .popup_content {
  background-color: var(--white);
  border-radius: 10px;
  padding: 15px;
  color: var(--black);
}
#formPopup .popup_content .btn {
  background-color: var(--black);
  color: var(--white);
}
#formPopup .popup_content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#formPopup .popup_content ul li {
  display: inline-block;
  margin-left: 20px;
}
#formPopup .popup_content ul li:first-child {
  margin-left: 0;
}



/* Design Ideas Component */
#bradcrum {
  padding: 150px 0;
  background-image: linear-gradient(360deg, rgba(0,0,0,0.5), #000000),url("../../public/residencial-interior/Untitled-design-3.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#bradcrum h1 {
  font-size: 60px;
}
#design_ideas_first_section {
  padding: 50px 0;
}
#design_ideas_first_section h2 {
  font-size: 50px;
}
#design_ideas_categories .card-body img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#design_ideas_categories .card #button_style {
  color: var(--white);
  background-color: var(--black);
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}
#design_ideas_categories #button_style:hover {
  box-shadow: 1px 1px 8px var(--black);
}

#design_ideas_third_section {
  padding: 50px 0;
}
#design_ideas_third_section h3 {
  font-size: 50px;
}
#design_ideas_third_section #button_style {
  color: var(--black);
  background-color: var(--white);
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}
#design_ideas_third_section #button_style:hover {
  box-shadow: 1px 1px 8px var(--white);
}

#design_ideas_forth_section {
  padding: 50px 0;
}
#design_ideas_forth_section h3 {
  font-size: 40px;
}
#design_ideas_forth_section img {
  width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#design_ideas_fifth_section {
  padding: 50px 0;
}
#design_ideas_fifth_section h3 {
  font-size: 50px;
}
#design_ideas_fifth_section img {
  width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#design_ideas_sixth_section {
  padding: 50px 0;
}
#design_ideas_sixth_section .our_newsletter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.5)),url("../../public/residencial-interior/Untitled-design-3.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 20px;
  border-radius: 15px;
}
#design_ideas_sixth_section h5 {
  display: inline;
  background: var(--white);
  color: var(--black);
  padding: 2px 10px;
  border-radius: 40px;
}
#design_ideas_sixth_section #button_style {
  color: var(--black);
  background-color: var(--white);
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}
#design_ideas_sixth_section #button_style:hover {
  box-shadow: 1px 1px 8px var(--white);
}

#design_ideas_seven_section {
  padding: 50px 0;
}
#design_ideas_seven_section h5 {
  display: inline;
  background: var(--white);
  color: var(--black);
  padding: 2px 10px;
  border-radius: 40px;
}
#design_ideas_seven_section h3 {
  font-size: 80px;
}

#design_ideas_eight_section {
  padding-top: 50px;
  user-select: none;
}
#design_ideas_eight_section h4 {
  font-size: 35px;
}
#design_ideas_eight_section img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
#design_ideas_eight_section #button_style {
  color: var(--black);
  background-color: var(--white);
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}
#design_ideas_eight_section #button_style:hover {
  box-shadow: 1px 1px 8px var(--white);
}


/* Offering */

#bradcrum #button_style {
  color: var(--black);
  background-color: var(--white);
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}
#bradcrum #button_style:hover {
  box-shadow: 1px 1px 8px var(--white);
}

#offering_first_section {
  padding: 50px 0;
}
#offering_first_section h2 {
  
}